<div class="PageBody">
  <div class="boxheader"></div>
  <header><img class="headerimg" src="../assets/missionimpossible/logom.jpg" alt="image"></header>
  
  <div class="back">
    <a routerLink="/home"><img class="backImg"src="https://cdn.iconscout.com/icon/free/png-512/back-arrow-1767523-1502427.png" alt="BACK"></a>
   
  </div>
  
  <div class="container-fluid">
  
      <div class="box">
        <img src="../assets/missionimpossible/tom1.jpg">
        <span>Ethanhunt</span>
      </div>
      <div class="box">
        <img src="../assets/missionimpossible/reb1.jpg">
        <span>Ilsa faust</span>
      </div>
      <div class="box">
        <img src="../assets/missionimpossible/Alanna1.jpg">
        <span>Alanna</span>
      </div> 
      <div class="box">
        <img src="../assets/missionimpossible/solomonlane.jpg">
        <span>Solomon</span>
      </div>
    </div>
  
    <div class="row Characters">
  
      <div class="col write">
        <div class="boxGrid"></div>
        <h3 class="fst-italic strong">Ethanhunt</h3>
        <p class="fst-italic strong">
          Ethan Matthew Hunt is the main protagonist in the Mission: Impossible film series. He is a senior field agent for the Impossible Mission Force, an elite, top-secret espionage and covert operations agency that handles dangerous and highly sensitive international missions that have been deemed "impossible".<br>
          Ethan Matthew Hunt was born in Madison, Wisconsin, the only child of Margaret Ethan and Nathan Hunt.<br>
          Ethan is proactive, tending to initiate events rather than respond to them.<br>
          Ethan is also a very observant person and has an almost photographic memory.
  
        </p>
      </div>
  
      <div class="col write">
        <div class="boxGrid"></div>
        <h3 class="fst-italic">Ilsa Faust</h3>
        <p class="fst-italic">
          Ilsa's early life is unknown other than being born in October 19th, 1983. She was later recruited and trained by MI6 as a highly trained agent. During her time as an MI6 agent, her handler was Chief Atlee.<br>
          Some point around 2013, she went undercover as a spy for MI6 by joining the Syndicate, a former British project consisted of former covert operatives from around the globe recruited onto clandestine operations before Solomon Lane, a rogue MI6 agent, hijacked and turned it into an international terrorist organization.<br>
  
        </p>
      </div>
      <br>
      <div class="col write">
        <div class="boxGrid"></div>
        <h3 class="fst-italic">Alanna Mitsopolis</h3>
        <p class="fst-italic">
          Alanna Mitsopolis, referred to professionally as the White Widow, is a well-known activist and philanthropist who secretly funds her work through illegal arms dealing and money laundering. She was the daughter of the mysterious arms dealer Max and the younger sister of Zola Mitsopolis. She covertly aids the CIA and Ethan Hunt and his IMF team in the capture and return of Solomon Lane to MI6.<br>
          Ethan and Alanna learn that members of the Apostles, the remnants of the rogue Syndicate.
        </p>
      </div> 
  
      <div class="col write">
        <div class="boxGrid"></div>
        <h3 class="fst-italic">Solomon Lane</h3>
        <p class="fst-italic">
          He is a former British intelligence operative working for SIS/MI6 who went rogue after the agency's chief Atlee created a mysterious criminal organization named The Syndicate. Now an infamous and very psychopathic terrorist leading the Syndicate, Lane is also Ethan Hunt's archenemy who attempts to create a new world order based on unstoppable sequences of accidents and terrorist attacks and later to blow up several powerful explosives in order to starve a third of the world's population and frame Ethan for the attack.
        </p>
      </div>
  
    </div>
    <div class="storeBtn d-grid gap-2 col-6 mx-auto">
      <a class="btn btn-success" routerLink="/store/missionimpossibleStore" role="button">Go to Store</a>
    </div>
  
  
  </div>