body,html{
    background-color: black;
}
a{
    color: white;
}
a:hover{
    border-radius: 10px;
    background-color:#fcde67;
    color: black;
    transition: 0.5s;
}
a:active{
    color: #fcde67;
}


.back{
    background-color: black;
    padding-top: 1%;
  }
  .backImg{
    filter: invert(100%);
    width: 3%;
  }
  .backImg:hover{
      background-color: white;
  }
  .frontBackImg{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    text-align: right;
    float: right;
  }