
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="harrypotterStore">HarryPotter</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="jamesbondStore">JamesBond</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="johnwickStore">JohnWick</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="jurassicworldStore">JurassicWorld</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="missionimpossibleStore">MissionImpossible</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="piratesofthecaribbeanStore">PiratesOfTheCaribbean</a>
  </li>
</ul>

<div class="back">
  <a routerLink="/home"><img class="backImg"src="https://cdn.iconscout.com/icon/free/png-512/back-arrow-1767523-1502427.png" alt="BACK"></a>
  
</div>


<router-outlet></router-outlet>