<div class="PageBody">
  <div class="boxheader"></div>
  <header><img class="headerimg" src="../assets/Titles/johnwicklogo.png" alt="image"></header>
  
  <div class="back">
    <a routerLink="/home"><img class="backImg"src="https://cdn.iconscout.com/icon/free/png-512/back-arrow-1767523-1502427.png" alt="BACK"></a>
   
  </div>
  
  <div class="container-fluid">
  
      <div class="box">
        <img src="../assets/jonwick/jon1.jpg">
        <span>Johnwick</span>
      </div>
      <div class="box">
        <img src="../assets/jonwick/ian.jpg">
        <span>Winston</span>
      </div>
      <div class="box">
        <img src="../assets/jonwick/diasy.jpg">
        <span>Daisy</span>
      </div>
      <div class="box">
        <img src="../assets/jonwick/antonio1.jpg">
        <span>Sanito Antonio</span>
      </div>
    </div>
  
    <div class="row Characters">
  
      <div class="col write">
        <div class="boxGrid"></div>
        <h3 class="fst-italic strong">John Wick</h3>
        <p class="fst-italic strong">
          John Wick—the titular character being a former assassin out for vengeance against those who have wronged him by way of murdering his dog—quickly became an action classic.<br>
          John Wick is a legendary hitman who retired until a gang invades his house, steals his car, and kills the puppy his late wife Helen had given him.<br>
          This sets him on a path of revenge, returning to the criminal underworld and eventually coming into conflict with the international organization of assassins he was once a part of.<br>
        </p>
      </div>
  
      <div class="col write">
        <div class="boxGrid"></div>
        <h3 class="fst-italic">Winston</h3>
        <p class="fst-italic">
          Winston is the deuteragonist of the John Wick film series, serving a minor, yet pivotal role in every film. <br>
          he is a major antagonist, showing that while he is a friend to John Wick, he is still a high-ranking member of the Continental, and does what he has to do to those who break its laws.<br>
          Winston confronts her and calmly tells her that her membership in the Continental has been revoked, in which his henchmen quickly execute her and walk away.
        </p>
      </div>
      <br>
      <div class="col write">
        <div class="boxGrid"></div>
        <h3 class="fst-italic">Daisy</h3>
        <p class="fst-italic">
          Daisy was a dog given to John Wick as a present from his wife Helen Wick shortly after her death. Daisy was killed during a home invasion by Iosef Tarasov, sparking a rage in John and was the trigger for him returning to his past.<br>
          Daisy was easily able to persuade John to do what she wants. She whines at night to him to allow her to snuggle in bed, wake up, and go out to do her business. Subtle changes like these slightly changed Wick's depressing routine for a short time until her unfortunate death.
        </p>
      </div>
  
      <div class="col write">
        <div class="boxGrid"></div>
        <h3 class="fst-italic">Sanito Antonio</h3>
        <p class="fst-italic">
          Santino D'Antonio was an Italian mafia boss associated with John Wick, with whom he owns a Marker. To repay the latter debt, John was bid to assassinate Gianna D'Antonio, Santino's sister. <br>
          He succeeded, thus making Santino head of the Neapolitan crime organization known as the Camorra.
          Santino had some skill with firearms. He used a grenade launcher to destroy the Wick residence, and he armed himself with a pistol in the Reflections of the Soul exhibit.
      </div>
  
    </div>
    <div class="storeBtn d-grid gap-2 col-6 mx-auto">
      <a class="btn btn-success" routerLink="/store/johnwickStore" role="button">Go to Store</a>
    </div>
  
  
  </div>