<div class="PageBody">
  
  <div class="boxheader"></div>
  <header><img class="headerimg" src="../assets/Titles/pirateslogo.png" alt="image"></header>
  
  <div class="back">
    <a routerLink="/home"><img class="backImg"src="https://cdn.iconscout.com/icon/free/png-512/back-arrow-1767523-1502427.png" alt="BACK"></a>
    
  </div>
  
  <div class="container-fluid">
  
      <div class="box">
        <img src="../assets/pirates/jack1.jpg">
        <span>Jacksparrow</span>
      </div>
      <div class="box">
        <img src="../assets/pirates/swann1.jpg">
        <span>Elizabeth Swan</span>
      </div>
      <div class="box">
        <img src="../assets/pirates/barbossa.jpg">
        <span>Baerbossa</span>
      </div>
      <div class="box">
        <img src="../assets/pirates/willturner2.jpg">
        <span>Will Turner</span>
      </div>
    </div>
  
    <div class="row Characters">
  
      <div class="col write">
        <div class="boxGrid"></div>
        <h3 class="fst-italic strong">Jack Sparrow</h3>
        <p class="fst-italic strong">
          Jack Sparrow was a legendary pirate of the Seven Seas, and the irreverent trickster of the Caribbean. <br>
          A captain of equally dubious morality and sobriety, a master of self-promotion and self-interest, Jack fought a constant and losing battle with his own best tendencies.<br>
          As a young pirate he earned the name Jack Sparrow when he trapped the notorious Spanish pirate hunter Capitán Salazar in the Devil's Triangle.<br>
          Over the course of time, Captain Jack Sparrow became a center of intrigue as myths and legends have been told of his exploits.
          Jack Sparrow relied more on intelligence, agility, and quick wit to protect himself, rather than physical strength.
  
        </p>
      </div>
  
      <div class="col write">
        <div class="boxGrid"></div>
        <h3 class="fst-italic">Elizabeth </h3>
        <p class="fst-italic">
          Elizabeth Turner was the daughter of Governor Weatherby Swann,
          Over the years, Elizabeth blossomed into a beautiful young lady, though was never satisfied with the affluent, domestic life she had been born into
          Elizabeth's cozy world was turned upside down after Captain Jack Sparrow rescued her from drowning: lured by the medallion, cursed pirates kidnapped Elizabeth.<br>
          During her time as a pirate, Elizabeth wielded several different swords and during the Kraken's attack on the Black Pearl, she used a musket, though it was Jack who actually fired the weapon. 
        </p>
      </div>
      <br>
      <div class="col write">
        <div class="boxGrid"></div>
        <h3 class="fst-italic">Hector Barbossa</h3>
        <p class="fst-italic">
          Hector Barbossa was a legendary and ferocious pirate of the Caribbean and Pirate Lord of the Caspian Sea. A captain of treacherous morality, a vile pirate returned from the dead, and a master of his own fate, Barbossa was the ultimate survivor. Ruthless and cunning, combining experience with reckless daring, Barbossa was also a deadly enemy and nemesis to Captain Jack Sparrow.<br>
          n addition to his swordsmanship he was also an accurate and experienced marksman, so that while residing on Devil's Anvil he could give people who visited him shooting lessons.
  
        </p>
      </div>
  
      <div class="col write">
        <div class="boxGrid"></div>
        <h3 class="fst-italic">Will Turner</h3>
        <p class="fst-italic">
          Will Turner, born William Turner Jr., was the only child of William "Bootstrap Bill" Turner and his unnamed wife. In his life, Will Turner was an accomplished blacksmith by trade, an excellent swordsman by pursuit and a budding pirate by fate. After embarking on several adventures with Captain Jack Sparrow, Will embraced his pirate heritage as he pursued his own purposes.<br>
          Will and Elizabeth were married by Barbossa at the Black Pearl. Shortly after being stabbed by Jones, Will himself pierced Jones' heart. Because he had killed Jones, Will became the new captain of the Flying Dutchman. 
        </p>
      </div>
  
    </div>
  
    <div class="storeBtn d-grid gap-2 col-6 mx-auto">
      <a class="btn btn-success" routerLink="/store/piratesofthecaribbeanStore" role="button">Go to Store</a>
    </div>
  
  
  </div>