<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">





<div class="animated-background">
  <!-- Background & animion & navbar & title -->
  <div class="container-fluid">
    <!-- Background animation-->
        <div class="background">
           <div class="cube"></div>
           <div class="cube"></div>
           <div class="cube"></div>
           <div class="cube"></div>
          <div class="cube"></div>
        </div>
    <!-- header -->
       <header>
    <!-- navbar -->
    
    <!-- logo -->
          
    <!-- title & content -->
          <section class="header-content">
             <h1>Start Your Journey</h1>
            <p> Welcome to <span>FranchiseFrizz</span> . Get to know more about<br>
               your favouite Franchise and Grab Items from our Store.</p>
            <a routerLink="home"><button>Get Started  <i class="fas fa-smile-wink"></i></button></a>
          </section>
      </header>
</div>
