
<div class="books">
  <h1>Franchisefrizz</h1>
  <h3>--Books--</h3>
</div>



<div class="back">
  <a routerLink="/home"><img class="backImg"
      src="https://cdn.iconscout.com/icon/free/png-512/back-arrow-1767523-1502427.png" alt="BACK"></a>

</div>





<h1>Harry Potter</h1>

<div class="row row-cols-2 row-cols-md-3 row-cols-lg-4"
  style="padding-left:10%; padding-right: 10%; padding-bottom: 10%;">
  <div class="col">
    <div class="card mt-5 shadow">

      <div class="imgBox">
        <img src="https://i.pinimg.com/236x/13/0d/95/130d95eb6d4d70c0e54d4ee55028f68b.jpg" />
      </div>
      <div class="card-body">
        <div class="h5 text-center">Harry Potter and the Philosopher's Stone</div>
        <div class="btn-group btn">
          <a href="../../assets/books/harrypotter/[1]Harry Potter and the Philosopher-s Stone.pdf"
            class="btn btn-primary" target="_blank">
            Read</a>
          <a href="../../assets/books/harrypotter/[1]Harry Potter and the Philosopher-s Stone.pdf" class="btn btn-info"
            download="[1]Harry Potter and the Philosopher-s Stone.pdf" target="_blank"> Download</a>
        </div>
      </div>
    </div>

  </div>
  <div class="col">
    <div class="card mt-5 shadow">

      <div class="imgBox">
        <img src="https://i.pinimg.com/236x/d3/8f/9a/d38f9ab2f52b4c0ff921e18e493b8cea.jpg" />
      </div>
      <div class="card-body">
        <div class="h5 text-center">Harry Potter and the Chamber of Secrets</div>
        <div class="btn-group btn">
          <a href="../../assets/books/harrypotter/[2]Harry Potter and the Chamber of Secrets.pdf"
            class="btn btn-primary" target="_blank">
            Read</a>
          <a href="../../assets/books/harrypotter/[2]Harry Potter and the Chamber of Secrets.pdf" class="btn btn-info"
            download="[2]Harry Potter and the Chamber of Secrets.pdf" target="_blank"> Download</a>
        </div>
      </div>
    </div>

  </div>
  <div class="col">
    <div class="card mt-5 shadow">

      <div class="imgBox">
        <img src="https://i.pinimg.com/236x/13/9a/a4/139aa4faf0829b98bbb9fd0bab537629.jpg" />
      </div>
      <div class="card-body">
        <div class="h5 text-center">Harry Potter and the Prisoner of Azkaban</div>
        <div class="btn-group btn">
          <a href="../../assets/books/harrypotter/[3]Harry Potter and the Prisoner of Azkaban.pdf"
            class="btn btn-primary" target="_blank">
            Read</a>
          <a href="../../assets/books/harrypotter/[3]Harry Potter and the Prisoner of Azkaban.pdf" class="btn btn-info"
            download="[3]Harry Potter and the Prisoner of Azkaban.pdf" target="_blank"> Download</a>
        </div>
      </div>
    </div>

  </div>
  <div class="col">
    <div class="card mt-5 shadow">

      <div class="imgBox">
        <img src="https://i.pinimg.com/236x/a7/f5/49/a7f549e7356f4903e26e235c3cf38a93.jpg" />
      </div>
      <div class="card-body">
        <div class="h5 text-center">Harry Potter and the Goblet of Fire</div>
        <div class="btn-group btn">
          <a href="../../assets/books/harrypotter/[4]Harry Potter and the Goblet of Fire.pdf" class="btn btn-primary"
            target="_blank">
            Read</a>
          <a href="../../assets/books/harrypotter/[4]Harry Potter and the Goblet of Fire.pdf" class="btn btn-info"
            download="[4]Harry Potter and the Goblet of Fire.pdf" target="_blank"> Download</a>
        </div>
      </div>
    </div>

  </div>
  <div class="col">
    <div class="card mt-5 shadow">

      <div class="imgBox">
        <img src="https://i.pinimg.com/236x/1b/9c/fd/1b9cfd0c6747fbb317a459c3d738cdf7.jpg" />
      </div>
      <div class="card-body">
        <div class="h5 text-center">Harry Potter and the Order of the Phoenix</div>
        <div class="btn-group btn">
          <a href="../../assets/books/harrypotter/[5]Harry Potter and the Order of the Phoenix.pdf"
            class="btn btn-primary" target="_blank">
            Read</a>
          <a href="../../assets/books/harrypotter/[5]Harry Potter and the Order of the Phoenix.pdf" class="btn btn-info"
            download="[5]Harry Potter and the Order of the Phoenix.pdf" target="_blank"> Download</a>
        </div>
      </div>
    </div>

  </div>
  <div class="col">
    <div class="card mt-5 shadow">

      <div class="imgBox">
        <img src="https://i.pinimg.com/236x/df/9c/b8/df9cb84e021d8a9f20072badc46c9c3a.jpg" />
      </div>
      <div class="card-body">
        <div class="h5 text-center">Harry Potter and the Half-Blood Prince</div>
        <div class="btn-group btn">
          <a href="../../assets/books/harrypotter/[6]Harry Potter and the Half-Blood Prince.pdf" class="btn btn-primary"
            target="_blank">
            Read</a>
          <a href="../../assets/books/harrypotter/[6]Harry Potter and the Half-Blood Prince.pdf" class="btn btn-info"
            download="[6]Harry Potter and the Half-Blood Prince.pdf" target="_blank"> Download</a>
        </div>
      </div>
    </div>

  </div>
  <div class="col">
    <div class="card mt-5 shadow">

      <div class="imgBox">
        <img src="https://i.pinimg.com/236x/dc/d3/f5/dcd3f5e9a87548a5611689ad475e6376.jpg" />
      </div>
      <div class="card-body">
        <div class="h5 text-center">Harry Potter and the Deathly Hallows</div>
        <div class="btn-group btn">
          <a href="../../assets/books/harrypotter/[7]Harry Potter and the Deathly Hallows.pdf" class="btn btn-primary"
            target="_blank">
            Read</a>
          <a href="../../assets/books/harrypotter/[7]Harry Potter and the Deathly Hallows.pd" class="btn btn-info"
            download="[7]Harry Potter and the Deathly Hallows.pdf" target="_blank"> Download</a>
        </div>
      </div>
    </div>

  </div>
</div>

<br>
<h1>John Wick</h1>
<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4" style="padding-left:10%; padding-right: 10%; padding-bottom: 10%;">
  <div class="col">
    <div class="card mt-5 shadow">

      <div class="imgBox">
        <img src="https://m.media-amazon.com/images/I/51fQ50COTFL.jpg" />
      </div>
      <div class="card-body">
        <div class="h5 text-center">John Wick - 01</div>
        <div class="btn-group btn">
          <a href="../../assets/books/harrypotter/[7]Harry Potter and the Deathly Hallows.pdf" class="btn btn-primary"
            target="_blank">
            Read</a>
          <a href="../../assets/books/harrypotter/[7]Harry Potter and the Deathly Hallows.pd" class="btn btn-info"
            download="Jack Sparrow - The Coming Storm.pdf" target="_blank"> Download</a>
        </div>
      </div>
    </div>

  </div>

  <div class="col">
    <div class="card mt-5 shadow">

      <div class="imgBox">
        <img src="https://www.dynamite.com/previews/C72513026155702011/JohnWick02CovAValleta.jpg" />
      </div>
      <div class="card-body">
        <div class="h5 text-center">John Wick - 02</div>
        <div class="btn-group btn">
          <a href="../../assets/books/harrypotter/[7]Harry Potter and the Deathly Hallows.pdf" class="btn btn-primary"
            target="_blank">
            Read</a>
          <a href="../../assets/books/harrypotter/[7]Harry Potter and the Deathly Hallows.pd" class="btn btn-info"
            download="Jack Sparrow - The Coming Storm.pdf" target="_blank"> Download</a>
        </div>
      </div>
    </div>

  </div>
  
  <div class="col">
    <div class="card mt-5 shadow">

      <div class="imgBox">
        <img src="https://m.media-amazon.com/images/I/51jeQjwHzNL.jpg" />
      </div>
      <div class="card-body">
        <div class="h5 text-center">John Wick - 03</div>
        <div class="btn-group btn">
          <a href="../../assets/books/harrypotter/[7]Harry Potter and the Deathly Hallows.pdf" class="btn btn-primary"
            target="_blank">
            Read</a>
          <a href="../../assets/books/harrypotter/[7]Harry Potter and the Deathly Hallows.pd" class="btn btn-info"
            download="Jack Sparrow - The Coming Storm.pdf" target="_blank"> Download</a>
        </div>
      </div>
    </div>

  </div>

  <div class="col">
    <div class="card mt-5 shadow">

      <div class="imgBox">
        <img src="https://m.media-amazon.com/images/I/51lFyzu7B3L.jpg" />
      </div>
      <div class="card-body">
        <div class="h5 text-center">John Wick - 04</div>
        <div class="btn-group btn">
          <a href="../../assets/books/harrypotter/[7]Harry Potter and the Deathly Hallows.pdf" class="btn btn-primary"
            target="_blank">
            Read</a>
          <a href="../../assets/books/harrypotter/[7]Harry Potter and the Deathly Hallows.pd" class="btn btn-info"
            download="Jack Sparrow - The Coming Storm.pdf" target="_blank"> Download</a>
        </div>
      </div>
    </div>

  </div>

  <div class="col">
    <div class="card mt-5 shadow">

      <div class="imgBox">
        <img src="https://m.media-amazon.com/images/I/51ae8AjZIiL.jpg" />
      </div>
      <div class="card-body">
        <div class="h5 text-center">John Wick - 05</div>
        <div class="btn-group btn">
          <a href="../../assets/books/harrypotter/[7]Harry Potter and the Deathly Hallows.pdf" class="btn btn-primary"
            target="_blank">
            Read</a>
          <a href="../../assets/books/harrypotter/[7]Harry Potter and the Deathly Hallows.pd" class="btn btn-info"
            download="Jack Sparrow - The Coming Storm.pdf" target="_blank"> Download</a>
        </div>
      </div>
    </div>

  </div>

</div>

<br>

<h1>Jack Sparrow</h1>
<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4"
  style="padding-left:10%; padding-right: 10%; padding-bottom: 10%;">
  <div class="col">
    <div class="card mt-5 shadow">

      <div class="imgBox">
        <img src="https://i.pinimg.com/originals/33/cd/ba/33cdbad225faeb04b1285b8531f148a7.jpg" />
      </div>
      <div class="card-body">
        <div class="h5 text-center">Jack Sparrow - The Coming Storm</div>
        <div class="btn-group btn">
          <a href="../../assets/books/harrypotter/[7]Harry Potter and the Deathly Hallows.pdf" class="btn btn-primary"
            target="_blank">
            Read</a>
          <a href="../../assets/books/harrypotter/[7]Harry Potter and the Deathly Hallows.pd" class="btn btn-info"
            download="Jack Sparrow - The Coming Storm.pdf" target="_blank"> Download</a>
        </div>
      </div>
    </div>

  </div>
  <div class="col">
    <div class="card mt-5 shadow">

      <div class="imgBox">
        <img src="https://i.pinimg.com/originals/b6/04/e3/b604e36f8993ce76ef1e40ee3ffd9f76.jpg" />
      </div>
      <div class="card-body">
        <div class="h5 text-center">Jack Sparrow - The Quest for the Sword of Cortes</div>
        <div class="btn-group btn">
          <a href="../../assets/books/harrypotter/[7]Harry Potter and the Deathly Hallows.pdf" class="btn btn-primary"
            target="_blank">
            Read</a>
          <a href="../../assets/books/harrypotter/[7]Harry Potter and the Deathly Hallows.pd" class="btn btn-info"
            download="Jack Sparrow - The Quest for the Sword of Cortes.pdf" target="_blank"> Download</a>
        </div>
      </div>
    </div>

  </div>
  <div class="col">
    <div class="card mt-5 shadow">

      <div class="imgBox">
        <img src="https://i.pinimg.com/originals/03/e3/e7/03e3e73e31c09c55aca27379675d0a21.jpg" />
      </div>
      <div class="card-body">
        <div class="h5 text-center">Jack Sparrow - Dead Man's Chest</div>
        <div class="btn-group btn">
          <a href="../../assets/books/harrypotter/[7]Harry Potter and the Deathly Hallows.pdf" class="btn btn-primary"
            target="_blank">
            Read</a>
          <a href="../../assets/books/harrypotter/[7]Harry Potter and the Deathly Hallows.pd" class="btn btn-info"
            download="Jack Sparrow - Dead Man's Chest.pdf" target="_blank"> Download</a>
        </div>
      </div>
    </div>

  </div>
  <div class="col">
    <div class="card mt-5 shadow">

      <div class="imgBox">
        <img src="https://i.pinimg.com/originals/b5/d5/e5/b5d5e5c060e24b2ef04740a3d6a45758.jpg" />
      </div>
      <div class="card-body">
        <div class="h5 text-center">Jack Sparrow - TIdes of War</div>
        <div class="btn-group btn">
          <a href="../../assets/books/harrypotter/[7]Harry Potter and the Deathly Hallows.pdf" class="btn btn-primary"
            target="_blank">
            Read</a>
          <a href="../../assets/books/harrypotter/[7]Harry Potter and the Deathly Hallows.pd" class="btn btn-info"
            download="Jack Sparrow - TIdes of War.pdf" target="_blank"> Download</a>
        </div>
      </div>
    </div>

  </div>
</div>

