<div class="PageBody">

  <div class="boxheader"></div>
  <header><img class="headerimg" src="../assets/Titles/harry-potter-logo-32547.png" alt="image"></header>
  
  <div class="back">
    <a routerLink="/home"><img class="backImg"src="https://cdn.iconscout.com/icon/free/png-512/back-arrow-1767523-1502427.png" alt="BACK"></a>
    
  </div>
  
  <div class="container-fluid">
  
      <div class="box">
        <img src="../assets/HarryPotter/Potter.jpg">
        <span>HarryPotter</span>
      </div>
      <div class="box">
        <img src="../assets/HarryPotter/Hermione.jpg">
        <span>Hermione</span>
      </div>
      <div class="box">
        <img src="../assets/HarryPotter/Ron.jpg">
        <span>Ron</span>
      </div>
      <div class="box">
        <img src="../assets/HarryPotter/Dobby.jpg">
        <span>Dobby</span>
      </div>
    </div>
  
    <div class="row Characters">
  
      <div class="col write">
        <div class="boxGrid"></div>
        <h3 class="fst-italic strong">HarryPotter - The Boy Who Lived</h3>
        <p class="fst-italic strong">
          Harry James Potter was an English wizard, and one of the most famous wizards.<br>
          The only child and son of James and Lily Potter.<br>
          Harry being known as "The Boy Who Lived", as he was the only known survivor of the Killing Curse.<br>
          He became even better known in his early years for protecting the Philosopher's Stone from Voldemort, saving Ron's sister Ginny Weasley.<br>
          He encountered Voldemort and nearly sacrificed himself.<br>
          
        </p>
      </div>
  
      <div class="col write">
        <div class="boxGrid"></div>
        <h3 class="fst-italic">Hermione</h3>
        <p class="fst-italic">
          Hermione Jean Granger was an English Muggle-born witch born to Mr and Mrs Granger.<br>
          She possessed a brilliant academic mind and proved to be a gifted student in almost every subject that she studied.<br>
          Hermione became an advocate for the better treatment of house-elves, forming the association S.P.E.W.<br>
          Hermione played a significant role in many other battles of the Second Wizarding War, 
          she dedicated herself to eradicating old laws that were biased in favour of pure-bloods.
        </p>
      </div>
      <br>
      <div class="col write">
        <div class="boxGrid"></div>
        <h3 class="fst-italic">Ron</h3>
        <p class="fst-italic">
          Ronald Bilius "Ron" Weasley was an English pure-blood wizard, the sixth and youngest son of Arthur and Molly Weasley.<br>
          He became close friends with Harry Potter and Hermione Granger.<br>
           Together, they made the Golden trio, they faced many challenges during their adolescence.<br>
           Ron also became a Gryffindor prefect and a Keeper on the Gryffindor Quidditch team at hogwards.<br>
           Later,Ron became an Auror and helped reform and revolutionise the Ministry of Magic.
        </p>
      </div>
  
      <div class="col write">
        <div class="boxGrid"></div>
        <h3 class="fst-italic">Dobby - The Free Elf</h3>
        <p class="fst-italic">
          Dobby is a house-elf, but posses a way of thinking that most house-elves find shameful. This is because Dobby desired to be a free house-elf.<br>
          During an rescue he was fatally wounded by Bellatrix Lestrange's knife, but successfully apparated Harry and Griphook to safety at Shell Cottage.
            <br>Because of his important ideas, 
             his loyalty to anyone on Harry Potter’s side, 
            and his brave actions Dobby is a vital character to the Harry Potter series.
        </p>
      </div>
  
    </div>
  
    <div class="storeBtn d-grid gap-2 col-6 mx-auto">
      <a class="btn btn-success" routerLink="/store/harrypotterStore" role="button">Go to Store</a>
    </div>
  
  
  </div>
    
    