.card{
    height: 400px;
}

.imgBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

img{
    width: 180px;
    padding: 10px;
    
}
