<!-- card  -->
  <div class="card mt-5 shadow">

    <div class="imgBox">
      <img [src]=productObj.url />
    </div>
    <div class="card-body">
      <div class="h6 text-center">{{productObj.productname}}</div>
      <p class="text-center">
        Cost : {{productObj.cost}} Rs
      </p>
      <div class="btn-group btn" (click)="onOrder()">
        <ng-template #popContent>
          <button (click)="pay()" class="btn btn-success p-2 m-2" > Buy Now </button>
    
        </ng-template>
        <ng-template #popTitle> Complete your Order</ng-template>
        <button type="button" class="btn btn-secondary" [ngbPopover]="popContent" [popoverTitle]="popTitle">
          Order Now
        </button>
  
  
        <ng-template #addToCartContent>
          <form #ref="ngForm" (ngSubmit)="onAddToCart(ref.value)">
            <input type="number" name="quantity" id="quantity" min="1" max="4" ngModel>
            <label for="quantity">1-4</label>
            <button class="btn btn-success" (click)="p.close()" type="submit">Add</button>
          </form>
        </ng-template>
        <ng-template #addToCartTitle> Quantity: </ng-template>
  
        <button type="button" class="btn btn-success" [ngbPopover]="addToCartContent" [popoverTitle]="addToCartTitle" [autoClose]="false" triggers="manual" #p="ngbPopover" (click)="p.open()">
          Add to Cart
        </button>
  
        <!-- <button type="button" class="btn btn-outline-secondary mr-2" ngbPopover="What a great tip!" [autoClose]="false" triggers="manual" #p="ngbPopover" (click)="p.open()" popoverTitle="Pop title">
          Click me to open a popover
        </button>
        <button type="button" class="btn btn-outline-secondary mr-2" (click)="p.close()">
          Click me to close a popover
        </button> -->
  
      </div>
    </div>
  
  </div>