<div class="PageBody">
  <div class="boxheader"></div>
  <header><img class="headerimg" src="../assets/Titles/jamesbondlogo.png" alt="image"></header>
  
  <div class="back">
    <a routerLink="/home"><img class="backImg"src="https://cdn.iconscout.com/icon/free/png-512/back-arrow-1767523-1502427.png" alt="BACK"></a>
    
  </div>
  
  <div class="container-fluid">
  
      <div class="box">
        <img src="../assets/jamesbond/jamesbond.jpg">
        <span>James Bond</span>
      </div>
      <!-- <div class="box">
        <img src="../assets/jamesbond/mswann.jpg">
        <span>Madeleine Swann</span>
      </div>
      <div class="box">
        <img src="../assets/jamesbond/m1.jpg">
        <span>Boss M</span>
      </div> -->
      <div class="box">
        <img src="../assets/jamesbond/waltz.jpg">
        <span>Stavro Blofeld</span>
      </div>
    </div>
  
    <div class="row Characters">
  
      <div class="col write">
        <div class="boxGrid"></div>
        <h3 class="fst-italic strong">James Bond</h3>
        <p class="fst-italic strong">
          James bond also known by the code number 007.James Bond is a British icon but his descent is actually Scottish. <br>
          Trained in intelligence and special forces, the superspy always used the latest gadgets, thwarted Soviet agents, brought international gangsters to justice, and inevitably bedded a beautiful woman. 
          An enthusiastic gambler, he was nearly as loyal to his signature vodka martini as he was to the British crown and his Scottish roots.
        </p>
      </div>
  
     <!--  <div class="col write">
        <div class="boxGrid"></div>
        <h3 class="fst-italic">Madeleine Swann</h3>
        <p class="fst-italic">
          Dr. Madeleine Swann is a fictional French psychologist affiliated to the Austrian Hoffler Klinik organization and the daughter of mysterious SPECTRE member Mr. White.<br> 
          The character first appears in the 2015 James Bond film, Spectre, and will return in its sequel, the 2020 film No Time To Die, portrayed by French actress Léa Seydoux.<br>
          She received her medical training from Oxford University and the Sorbonne. <br>
        </p>
      </div>
      <br>
      <div class="col write">
        <div class="boxGrid"></div>
        <h3 class="fst-italic">Boss M</h3>
        <p class="fst-italic">
          M is a fictional character in Ian Fleming's James Bond book and film series; the character is the Head of the Secret Intelligence Service—also known as MI6. <br>
          Fleming based the character on a number of people he knew who commanded sections of British intelligence.<br>
          . M has appeared in the novels by Fleming and seven continuation authors, as well as appearing in twenty-four films.
        </p>
      </div> -->
  
      <div class="col write">
        <div class="boxGrid"></div>
        <h3 class="fst-italic"> Stavro Blofeld</h3>
        <p class="fst-italic">
          Ernst Stavro Blofeld is a fictional character and villain from the James Bond series of novels and films, created by Ian Fleming. A criminal mastermind with aspirations of world domination, he is the archenemy of the British Secret Service agent James Bond.<br>
          Blofeld is head of the global criminal organisation SPECTRE and is commonly referred to by the codename Number 1 within this organisation.<br>
        </p>
      </div>
  
    </div>
  
    <div class="storeBtn d-grid gap-2 col-6 mx-auto">
      <a class="btn btn-success" routerLink="/store/jamesbondStore" role="button">Go to Store</a>
    </div>
  
  
  </div>