<section class="contact">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4 display-4" >Contact Us</h2>

    <!--Section description-->
    <h5 class="text-center w-responsive mx-auto mb-5">Do you have any queries? Please contact us directly. <br> Our support team will help you.</h5>
 
    <div class="row">
         <div class="col-md-9 mb-md-0 mb-5">
            <form class="m-3" id="contact-form" name="contact-form" action="mail.php" method="POST">

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form mb-3">
                            <label for="name" class=""><strong>Your name</strong></label>
                            <input type="text" required="required" id="name" name="name" class="form-control">
                        </div>
                    </div>
     
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label for="email" class="em"><strong>Your email</strong></label>
                            <input type="text" required="required" id="email" name="email" class="form-control">
                        </div>
                    </div>
                </div>
             
                <div class="row mb-1">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <label for="subject" class=""><strong>Subject</strong></label>
                            <input type="text" id="subject" name="subject" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row " >
                    <div class="col-md-12">
                        <div class="md-form">
                            <label for="message" class="msg"><strong>Your message</strong></label>           
                            <textarea type="text" required="required" id="message" name="message" rows="5" class="form-control md-textarea"></textarea>                           
                        </div>
                    </div>
                </div>     
            </form>
 
            <div class="text-center text-md-left">
                <ng-template #popContent>
                    <h5> RESPONSE SENT </h5>
                  </ng-template>
                  <ng-template #popTitle></ng-template>
                <button class="btn btn-success btn-lg mt-5 px-5 ml-3" [ngbPopover]="popContent" [popoverTitle]="popTitle">Submit</button>
            </div>
            <div class="status"></div>
        </div>
       
        <div class="col-md-3 text-center mt-3">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>VNR college,Bachupally,Hyderabad</p>
                </li>
 
                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+ 91 9999999999</p>
                </li>
 
                <li style="height:300px;"><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>franchisefrizz@gmail.com</p>
                </li>
            </ul>
        </div>
    </div>
 </section>
 
