<div class="PageBody">

  <div class="boxheader"></div>
  <header><img class="headerimg" src="../assets/Titles/jurassiclogo.png" alt="image"></header>
  
  <div class="back">
    <a routerLink="/home"><img class="backImg"src="https://cdn.iconscout.com/icon/free/png-512/back-arrow-1767523-1502427.png" alt="BACK"></a>
   
  </div>
  
  <div class="container-fluid">
  
      <div class="box">
        <img src="../assets/jurassicworld/owen.jpg">
        <span>Owen Grandy</span>
      </div>
      <div class="box">
        <img src="../assets/jurassicworld/isabella1.jpg">
        <span>Claire Dearing</span>
      </div>
      <div class="box">
        <img src="../assets/jurassicworld/dr.wu1.jpg">
        <span>Henry Wu</span>
      </div>
      <div class="box">
        <img src="../assets/jurassicworld/zia2.jpg">
        <span>Zia Rodriguez</span>
      </div>
    </div>
  
    <div class="row Characters">
  
      <div class="col write">
        <div class="boxGrid"></div>
        <h3 class="fst-italic strong">Owen grandy</h3>
        <p class="fst-italic strong">
          Owen Grady is a Dinosaur Behavior Expert, who was employed by InGen in 2012 to work on the IBRIS project, tasked with measuring Velociraptor intelligence.<br>
          He, along with Claire Dearing, was a key figure in the 2015 incident which resulted in the abandonment of Jurassic World on Isla Nublar. <br>
          Owen Grady, a former SEAL of the US Navy, was recruited by InGen's Security Division in 2012 to work on the IBRIS Project, tasked with studying the behaviour and intelligence of Velociraptors.<br>
        </p>
      </div>
  
      <div class="col write">
        <div class="boxGrid"></div>
        <h3 class="fst-italic">Claire Dearing</h3>
        <p class="fst-italic">
          Claire Dearing is the leader of the Dinosaur Protection Group and the former park operations manager of Jurassic World, before the park's abandonment in 2015 upon the escape of the Indominus rex.<br>
          She founded the DPG after her experience in the Jurassic World incident, and rededicated to the survival and prosperity of the surviving dinosaurs.<br>
          She is currently in a relationship with Owen Grady and, alongside him, is a guardian of Maisie Lockwood.​​​​<br>
        </p>
      </div>
      <br>
      <div class="col write">
        <div class="boxGrid"></div>
        <h3 class="fst-italic">Henry Wu</h3>
        <p class="fst-italic">
          Dr. Henry Wu is one of the two overarching antagonists of the first season of the Netflix TV series Jurassic World: Camp Cretaceous, the unseen overarching antagonist of it's second season and an antihero in season 3, the secondary antagonist of Jurassic World and Jurassic World: Fallen Kingdom, and one of the two overarching antagonists of the Jurassic Park franchise.<br>
          He is the geneticist that recreates the dinosaurs in all Jurassic Park media. He is the chief genetic engineer of InGen.<br>
        </p>
      </div>
  
      <div class="col write">
        <div class="boxGrid"></div>
        <h3 class="fst-italic">Zia Rodriguez</h3>
        <p class="fst-italic">
          Zia Rodriguez is a member of the Dinosaur Protection Group and its in-house paleo-veterinarian<br>
          In 2018, Zia aided the DPG alongside Claire Dearing and Franklin Webb in saving the dinosaurs from the eruption of Mt. Sibo. <br>
          Later turning into an operation to stop Eli Mills and mercenaries from selling them to buyers at Lockwood Manor.<br>
        </p>
      </div>
  
    </div>
    <div class="storeBtn d-grid gap-2 col-6 mx-auto">
      <a class="btn btn-success" routerLink="/store/jurassicworldStore" role="button">Go to Store</a>
    </div>
  
  
  </div>