*{
    margin: 0;
    padding: 0;
}



.container{
    width: 80%;
    margin: 10px auto;
    
}

.label{
    height: 100px;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(
      rgba(204, 30, 88, 0.6),
      rgba(20, 20, 20, 0.6)
    ),
    url("../../assets/HarryPotter/bg2.jpg");
    border: none;
    outline: none;
    color: #fcde67;
}
.video{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px;
}
 h1{
    padding: 60px 0;
    color: #fcde67;
    font-size: 30px;
    text-align: center;
}
.container h2{
    padding: 10px 0;
    color: #fcde67;
    font-size: 20px;
}

.back{
    background-color: black;
    padding-top: 1%;
  }
  .backImg{
    filter: invert(100%);
    width: 5%;
  }

/*
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.col{
    flex-basis: 50%;
    min-width: 250px;
}

.small-img-row{
    display: flex;
    background: #efefef;
    margin: 20px 0;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    width: 85%;
}

.small-img{
    position: relative;
}

.small-img img{
    width: 150px;
}

.small-img-row p{
    margin-left: 20px;
    color: #707070;
    line-height: 20px;
    font-size:15px ;
}

.small-img .fa-play-circle{
    font-size: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    cursor: pointer;
}

.video-player{
    margin-top: 50px;
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: none;
}
video:focus{
    outline: none;
}

.close-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px;
    cursor: pointer;
    color: red;
} */